<div>
		<label for="tour1" class="checkbox">
          		<input type="checkbox" checked="checked" id="tour1" class="shiny-bound-input">
          		<span>Victoire au 1er tour</span>
        	</label>
	</div>
	<div data-display-if="input.tour1 == true" style="display: none;">
          <label for="secteur" class="control-label">Quel secteur ?</label>
          <select id="secteur" class="shiny-bound-input">
            <option selected="selected" value="1">1/7</option>
            <option value="2">2/3</option>
            <option value="3">4/5</option>
            <option value="4">6/8</option>
            <option value="5">9/10</option>
	    <option value="6">11/12</option>
	    <option value="7">13/14</option>
	    <option value="8">15/16</option>
          </select>
          <label for="score">Score des autres listes ?</label>
	  <input id="score" type="number" value="10">
        </div>
