div.centre {
margin:auto;
text-align:center;
}
 
/* Boutons réseaux sociaux */

ul.share
{
background-color:#F5F5F5;
margin-left:0px;
margin-right:0px;
margin-top:0px;
margin-bottom:0px;
}
ul.share li {
margin-left:20px;
margin-right:3px;
margin-top:10px;
margin-bottom:10px;
vertical-align: middle;
display: inline-block;
}
ul.share1
{
background-color:#ffffff;
margin-left:0px;
margin-right:0px;
margin-top:0px;
margin-bottom:5px;
text-align:center;
}
ul.share1 li {
margin-left:20px;
margin-right:3px;
margin-top:10px;
margin-bottom:10px;
vertical-align: middle;
display: inline-block;
}

/* Crédits */

ul.credits
{
width:100%;
background-color:#F5F5F5;
margin-left:0px;
margin-right:0px;
margin-top:0px;
margin-bottom:0px;
display: inline-block;
}
ul.credits li {
font-weight:bold;
font-family:Arial;
margin-left:10px;
margin-right:10px;
margin-top:10px;
margin-bottom:5px;
vertical-align: baseline;
display: inline-block;
}
h1 {
font-size:2.3em;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.1;
}

/* Sliders */
.jslider-bg i.v {
    background-image: url("img/jslider.custom.png");
}
.jslider-bg i.l {
    background-image: url("img/jslider.custom.png");
}
.jslider-bg i.r {
    background-image: url("img/jslider.custom-FN.png");
}
.jslider .jslider-bg .l {
    background-position: 0 0;
    left: 0;
    width: 60%;
}
.jslider .jslider-bg .r {
    background-position: right 0;
    left: 60%;
    width: 40%;
}
.debord .jslider .jslider-bg .l {
    background-position: 0 0;
    left: 0;
    width: 65%;
}
.debord .jslider .jslider-bg .r {
    background-position: right 0;
    left: 65%;
    width: 35%;
}
body {
    background-color: #FFFFFF;
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
label {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 0px;
}
.jslider td, .jslider th {
    border: 0 none;
    padding: 0;
    text-align: center;
    vertical-align: top;
}
div.jslider-label span {
display:none;
}
div.jslider-value {
    display:none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 2px;
    font-size: 14px;
    font-weight:700;
    left: 20%;
    line-height: 14px;
    padding: 1px 2px 0;
    position: absolute;
    top: -19px;
    white-space: nowrap;
    color:#353C41;
}
div.jslider {
    margin-bottom: 5px;
    margin-bottom: 5px;
font-size: 14px;
}
span.jslider {
    margin-bottom: 15px;
    margin-top: 0px;
}

/* Zone des sliders */

#form {
margin-bottom:5px;
}
.well {
margin-bottom:0px;
border-bottom-width:0px;
}

/* Tabset */

	/* Premier onglet */

.nav-tabs li#depart a{
background-color:#60bbd9;
}
.nav-tabs li#depart .active {
background-color:rgba(0,​ 0,​ 0,​ 0);
border-color:#60bbd9;
border-style:solid;
border-width:1px;
}
.nav-tabs li:nth-child(1) a {
color:#fff;
}
.nav-tabs li:nth-child(1).active a {
color:#fff;
}

	/* Non cliqué */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #EEEEEE;
    border-color: #60bbd9;
font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
font-weight:bold;
}

	
a:hover, a:focus {
    color: #2A6496;
font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
font-weight:bold;
}
a:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
font-weight:bold;
}
	}
/* Cliqué */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #DDDDDD #DDDDDD rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #353C41;
    cursor: default;
    font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
font-weight:bold;
}
.nav {
margin-bottom:5px;
}
/* Bouton */
.btn {
  color:#ffffff;
  vertical-align:baseline;
  font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
  background: #60bbd9;
  background-image: -webkit-linear-gradient(top, #60bbd9, #60bbd9);
  background-image: -moz-linear-gradient(top, #60bbd9, #60bbd9);
  background-image: -ms-linear-gradient(top, #60bbd9, #60bbd9);
  background-image: -o-linear-gradient(top, #60bbd9, #60bbd9);
  background-image: linear-gradient(to bottom, #60bbd9, #60bbd9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-decoration: none;
  margin-top:10px;
  margin-left:5px;
font-size:1.3em;
  padding:0.3em;
}

.btn:hover {
  background: #e1a234;
  background-image: -webkit-linear-gradient(top, #e1a234, #e1a234);
  background-image: -moz-linear-gradient(top, #e1a234, #e1a234);
  background-image: -ms-linear-gradient(top, #e1a234, #e1a234);
  background-image: -o-linear-gradient(top, #e1a234, #e1a234);
  background-image: linear-gradient(to bottom, #e1a234, #e1a234);
  text-decoration: none;
}
.btn:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
}
.btn:hover, .btn:focus {
    color: #333333;
    text-decoration: none;
}
.btn:active, .btn.active {
    outline: 0 none;
}

/* Tableau des résultats */

#monprono1 .table {
margin:auto;
text-align:center;
}
.table th {
background-color:#60bbd9;
color: #f9f9f9;
text-align:center;
font-size:30px;
border-style:none;
}
.table th:nth-child(2) {
background-color:#de5d83;
}
.table th:nth-child(3) {
background-color:#1560bd;
}
.table th:nth-child(4) {
background-color:#614051;
}
.table td:nth-child(1) {
color: #60bbd9;
background-color:#fff;
font-weight:bold;
border-right-width:2px;
border-right-style:solid;
}
.table td {
border:none;
padding:0.4em;
padding-left:0.6em;
padding-right:0.6em;
font-size:2.3em;
font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
font-weight: 700;
text-align:center;
}
.table tr:nth-child(10) td {
border-top-width:2px;
border-top-style:solid;
border-color:#60bbd9;
}
#monprono1 .table td {
padding:0.3em;
padding-left:5px;
padding-right:5px;
font-size:1.8em;
font-weight: 500;
text-align:center;
}
#monprono1 .table th {
font-size:1.3em;
}
.brille {
background-color:#60bbd9;
}
.blanc {
color:#fff;
}
.checkbox input  {
width:3em;
height:3em;
}
.checkbox span {
color:#fff;
  font-weight:bold;
  font-size:1.3em;
  padding:0.3em;
  font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
  background: #60bbd9;
  background-image: -webkit-linear-gradient(top, #60bbd9, #60bbd9);
  background-image: -moz-linear-gradient(top, #60bbd9, #60bbd9);
  background-image: -ms-linear-gradient(top, #60bbd9, #60bbd9);
  background-image: -o-linear-gradient(top, #60bbd9, #60bbd9);
  background-image: linear-gradient(to bottom, #60bbd9, #60bbd9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-decoration: none;
  margin-top:10px;
  margin-left:5px;
}
form.well ul {
vertical-align: bottom;
display: inline-block;
margin-left:1em;
}
form.well ul li {
vertical-align: bottom;
display: inline-block;
}

/* Tutoriel */

#tuto {
background-color:#60bbd9;
}
#tuto a {
text-decoration:none;
color:#fff;
}
#tuto h3 {
padding-left:0.3em;
padding-right:0.3em;
}

/* Liste des élus */

.liste {
font-size:1em;
font-family:"Trebuchet MS", Arial;
}

.shiny-output-error {
color: white;
}