
body.disconnected {
    background-color: #999999;
    opacity: 0.5;
}
table.data {
    width: auto;
}
table.data td[align="right"] {
    font-family: monospace;
    text-align: right;
}
.shiny-output-error {
    color: #FF0000;
}
.shiny-output-error:before {
    content: "Error: ";
    font-weight: bold;
}
.jslider {
    margin-top: 18px;
}
.jslider-value {
    background-color: rgba(0, 0, 0, 0) !important;
}
.recalculating {
    opacity: 0.3;
    transition: opacity 250ms ease 500ms;
}
span.jslider {
    margin-bottom: 12px;
}
.slider-animate-container {
    margin-top: -9px;
    text-align: right;
}
.slider-animate-button {
    opacity: 0.5;
}
.slider-animate-button .pause {
    display: none;
}
.slider-animate-button.playing .pause {
    display: inline;
}
.slider-animate-button .play {
    display: inline;
}
.slider-animate-button.playing .play {
    display: none;
}
.progress.shiny-file-input-progress {
    position: relative;
    visibility: hidden;
}
.progress.shiny-file-input-progress .bar {
    overflow: hidden;
}
.progress.shiny-file-input-progress label {
    bottom: 0;
    display: block;
    font-size: 12px;
    left: 0;
    padding: 0 6px;
    position: absolute;
    right: 0;
    top: 0;
}
.progress.shiny-file-input-progress .bar.bar-danger {
    transition: none 0s ease 0s;
}
.crosshair {
    cursor: crosshair;
}

