<div class="tab-pane" id="tab-3347-4">
	<div class="row-fluid">
		<div class="span6">
			<div id="elu" class="shiny-html-output" style="width: 100%"></div> 
			<div id="preImage" class="shiny-image-output shiny-bound-output" style="width: 100% ;"></div>
		</div>
		<div class="span6">
			<h2>Mes scores électoraux</h2>
	    		<div id="monprono1" class="shiny-html-output centre"></div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4">
			<h2 style="text-align:center;">Partagez votre pronostic</h2>
				<ul class="share1">
					<li>
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://param1" data-text="param2" data-via="marsactu" data-lang="fr" data-size="large" data-hashtags="marseille2014">Tweeter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</li>
					<li>
						<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-width="100" data-type="button"></div>
					</li>
				</ul>
		</div>
		<div class="span8">
					<h2>Mon conseil municipal</h2>
	    				<div id="total1" class="shiny-plot-output" style="width: 100% ; height: 10em"></div>
					<h2>Mes scores électoraux</h2>
	    				<div id="monprono1" class="shiny-html-output centre"></div>
		</div>
	</div>
</div>
